@import url('https://fonts.googleapis.com/css?family=Fredoka:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Source%20Code%20Pro:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Share%20Tech%20Mono:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800');

@import url('https://ssl.gstatic.com/docs/script/css/add-ons1.css');

.container {
  font-size: 12px;
}

.controls {
  position: fixed;
  top: 0;
  right: 0px;
  display: flex;
  flex-direction: column;
  width: 80px;
}

.issueContainer {
  display: flex;
  flex-wrap: wrap;
}

.issue.hidden {
  display: none;
}

.issue {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: table;
  margin: 10px;
  padding: 8px;
}

.textBox {
  width: 80px;
}

.field {
  display: table-row;
  margin: 3px;
}

.field > label {
  margin-right: 6px;
}

.label {
  display: table-cell;
  text-transform: uppercase;
  text-align: right;
  padding-right: 6px;
}

.id {
  display: table-cell;
}

.issueButtonContainer {
  display: table-row;
  text-align: center;
}

.issueButton {
  text-transform: uppercase;
}