@import url('https://fonts.googleapis.com/css?family=Fredoka:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Source%20Code%20Pro:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Share%20Tech%20Mono:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800');

@import url('https://ssl.gstatic.com/docs/script/css/add-ons1.css');

.container {
  font-size: 12px;
}

.issue {
  padding: 8px;
}

.issue:nth-child(even) {
  background-color: #ddd; 
}

.field {
  display: inline-block;
  margin: 3px;
}
