@import url('https://fonts.googleapis.com/css?family=Fredoka:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Source%20Code%20Pro:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Share%20Tech%20Mono:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800');

body {
  background-color: #eee;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
  padding: 12px;
}

.inputBox {
  display: block;
  font-size: 16px;
}

.container {
  padding: 8px 12px;
  width: 500px;
}

button:hover {
  background: #fff;
}

button:active {
  box-shadow: inset 0px 0px 0px 3px rgba(77, 77, 77, 0.1);
}

.runButton {
  font-size: 20px;
  font-weight: bold;
  height: auto;
  margin: 10px 0;
  padding: 8px 16px;
}

.copyPasteButton {
  border-radius: 16px;
  margin-top: 3px;
  height: 36px;
  min-width: auto;
  width: 36px;
  position: relative;
}

.noIssuesMessage {
  display: none;
}

.resultContainer.empty .issueContainer {
  display: none;
}

.resultContainer.empty .noIssuesMessage {
  display: block;
}

.issue {
  display: grid;
  grid-template-columns: 1fr 40px 30px 30px;
  padding: 2px 28px 2px 10px
}

.issue:nth-child(even) {
  background-color: rgba(77, 77, 77, 0.1); 
}

.label, .count {
  height: 30px;
  line-height: 30px;
}

.label {
  grid-column: 1;
  padding: 2px 0;
  margin: 2px 0;
}

.count {
  border-radius: 6px;
  /* font-family: 'Share Tech Mono', monospace; */
  grid-column: 2;
  padding: 4px;
  text-align: right;
  margin: 2px 4px;
}