@import url('https://fonts.googleapis.com/css?family=Fredoka:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Source%20Code%20Pro:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Share%20Tech%20Mono:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800');

@import url('https://ssl.gstatic.com/docs/script/css/add-ons1.css');

body {
  background-color: #eee;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica', sans-serif;
  font-size: 14px;
}

.inputBox {
  display: block;
  font-size: 16px;
}

.container {
  margin-bottom: 10px;
  width: 283px;
}

button:hover {
  background: #fff;
}

button:active {
  box-shadow: inset 0px 0px 0px 3px rgba(77, 77, 77, 0.1);
}

.runButton {
  font-size: 20px;
  font-weight: bold;
  height: auto;
  width: 200px;
  margin: 12px;
  padding: 8px 16px;
}

.labelContainer {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1;
  padding: 6px; 
  row-gap: 5px;
}

.label {
  border-radius: 14px;
  cursor: default;
  line-height: 20px;
  padding: 4px 10px 4px 0px;
}

.arrowLabel {
  cursor: default;
  font-size: 16px;
  margin: 4px 14px 0px 10px;
  width: 10px;
}

.copyLabel, .pasteLabel, .mw {
  background-color: #fff;
  box-shadow: 0px 2px #ccc;
  padding: 4px 10px 4px 10px;
}

.copyLabel:hover, .pasteLabel:hover, .mw:hover {
  cursor: pointer;
}

.copyLabel:hover {
  background-color: pink;
}

.pasteLabel:hover {
  background-color: greenyellow;
}

.pasteLabel {
  margin-right: 6px;
}

.mw {
  background-color: #ccc;
  font-size: 9px;
  font-weight: bold;
}

.mw:hover {
  background-color: lightblue;
}

.noIssuesMessage {
  display: none;
  margin-top: 4px; 
  margin-left: 16px;
}

.resultContainer.empty .issueContainer {
  display: none;
}

.resultContainer.empty .noIssuesMessage {
  display: block;
}

.issue {
  display: grid;
  grid-template-columns: 1fr 40px;
  padding: 2px 10px 2px 0px;
}

.issue:nth-child(even) {
  background-color: rgba(77, 77, 77, 0.1); 
}

.count {
  border-radius: 6px;
  font-family: 'Share Tech Mono', monospace;
  grid-column: 2;
  padding: 4px;
  text-align: right;
  margin: 6px 2px;
}
